
:root {
  --color-fondo: #f2f2f2;
  --color-borde: #dddddd;
  --color-titulo: #333333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  width: 100%;
  height: 100%;
  max-width: none;
  background-color: var(--background-brand);
  .card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .cover{
      height: 8rem;
      width: 8rem;
      img{
        width: 8rem;
        height: 8rem;
      }
    }
    .title{
      height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .more{
      margin-top:2rem;
      height: 2.2rem;
    }
    .card h3 {
      color: var(--color-titulo);
    }
    
    .card p {
      color: #666666;
    }
  }
  
}




@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}